<%= form_for @link do |f| %>
  <p>
    Tytuł linka:<br />
    <%= f.text_field :title %>
  </p>
  <p>
    Url linka:<br />
    <%= f.text_field :url %>
  </p>
  <p>
     Czy link ma być prywatny?: <br />
    <%= f.check_box :private %>
  </p>
  <p>
    Opis linka:<br />
    <%= f.text_area :body, :cols => 30, :rows => 5 %>
  </p>

  <p>
    Lista tagów: <br />
	<%= f.text_field :tag_list %> 
  </p>
  
  <p><%= f.submit %></p>
<% end %>
