Sortowanie:
<%= sortable "title", "Tytuł" %>
<%= sortable "url", "Url" %>
<%= sortable "body", "Opis" %>

<br/><br/>

 <% for link in @links %>
<table id="linki">
    <tr id="glosuj_data"> 
      <td id="ocena">ow gore / w dol</td>
      <td id="data">data: <%= link.created_at %></td>
   </tr>
   <tr>
      <th COLSPAN=2 id="tytul"><%= link.title %></th>    
   </tr>
   <tr>    
      <td COLSPAN=2 id="url"><a href="http://<%= link.url %>"><%= link.url %></a></td>
   </tr>
   <tr id="opis">
      <td><%= link.body %></td>
   </tr>
   <tr id="ocena_komentarz">
      <td> ocena: 15 </td>
      <td id="kom"> Komentarze (18) </td>
   </tr>
	</table>
	<br/><br/>
  <% end %>


<%= will_paginate @links %>

